* {
  padding-top: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/* font-family: 'Source Sans Pro', sans-serif;  - Dados Pessois/Titulos*/

#nav {
  width: 98%;
  max-width: 100vw;
  height: auto;
  background-color: #335384;
  padding: 12px 15px 15px 15px;
  text-align: center;
}

.text-nav {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: small;
}

div.text-nav {
  font-size: larger;
}

#colection {
  margin: 20px auto;
  width: 60vw;
  text-align: center;
}

.imagens {
  height: auto;
  width: 48%;
  opacity: 0.8;
}

.imagens:hover {
  transform: scale(1.01);
  box-shadow: 2px 0px 20px #9f9f9f;
  opacity: 1;
}

#secret {
  float: left;
  background-color: #335384;
  height: 1vw;
  width: 1vw;
}
