.box-jdv {
  width: 20vw;
  text-align: center;
  font-size: 600%;
  background-color: aliceblue;
  color: chocolate;
  border-radius: 8%;
  margin: 1px;
}

.seila {
  height: 20vh;
}

.vez {
  font-size: 30px;
  min-width: 50px;
  /* color: #97f5a4;
  transform: scale(2); */
}

/*
 tudo - *
 tag - nome da tag

 id  - #nome do id 
 class - .nome da class

 px - pixel
  % - de acordo com o elemento pai
  vh / vw - de acordo com o tamanho do browser 
*/
